<% include header.ejs %>

<div class="text-center">
      <h1 class="text-center">Ticket Manager</h1>   
</div>
<ul class="nav nav-pills">
   <li><a href="/Newtickets">New Tickets</a></li>
   <li><a href="/Addticket">Add a Ticket</a></li>
   <li><a href="/Alltickets">All Tickets</a></li>
   <li><a href="/users/logout">Logout</a></li>
  
</ul>




<% include footer.ejs %>