<% include header.ejs %>
       
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">SupTrac</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Newtickets">New Tickets</a></li>
                <li><a href="/Addticket">Add a Ticket</a></li>
                <li><a href="/Alltickets">All Tickets</a></li>
            </ul>
        </div>
    </nav>

   <div class="container">
        <form role="form" class="col-md-10 col-md-offset-1 input_form" method="post">
            <legend>User Login</legend>
            <div class="form-group">
                <label for="username">User Name:</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="UserName">
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>

<% include footer.ejs %>
